@import url("/fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.woff") format("woff");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("/fonts/Roboto-Medium.woff") format("woff");
  }
  html {
    @apply h-full w-full;
  }
  body {
    @apply h-full w-full;
  }
  #__next {
    @apply h-full w-full;
  }
}
